
.container-item {
  display: table;
}

.column-item {
  display: table-cell;
}

.item-image {
  height: 180px;
  width: 180px;
  border-radius: 4px;
  margin-left: 16px;
  margin-right: 16px;
}

.price-title-div, .city-name-div {
  vertical-align: top;
}

.price-place-div {
  margin-top: 16px;
}

.item-city-name {
  margin-top: 16px;
  margin-right: 5px;
}

.price-title-div {
  width: 70%;
}

.city-name-div {
  width: 20%;
  font-size: 12px;
}

.item-price {
  font-size: 24px;
  margin-bottom: 32px;
}

.item-title-div {
  font-size: 18px;
}

.free-shipping-image {
  margin-left: 5px;
}

.hr-item-separator {
  color: #cccccc;
  border: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.categories {
  font-size: 14px;
}

.description-item {
  margin-left: 32px;
  margin-bottom: 32px;
  margin-right: 32px;
}


@media (max-width: 500px)  {
    .center-div-search {
        width: 90%!important;
    }
}

@media (max-width: 400px)  {
    .center-div-search {
        width: 100%!important;
    }
}
