
.container-item {
    display: table;
    margin-bottom: 16px;
}

.column-item {
    display: table-cell;
}

.item-image-div{
    width: 680px;
    height: 680px;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-title-div {
    margin-top: 32px;
    vertical-align: top;
}

.item-sold {
    margin-top: 32px;
    font-size: 14px;
}

.item-title {
    margin-top: 16px;
    font-size: 24px;
}

.item-price {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 46px;
}

.item-title, .item-price {
    color: #333333;
}

.buy-item-button {
    height: 32px;
    width: 260px;
}

.submit-item {
    background-color: #3483FA;
    border: none;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    width: 230px;
    height: 32px;
    color: white;
}

.item-description-text-plane {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    color: #999999;
}

.item-description-title {
    font-size: 28px;
}

.item-sold {
    margin-top: 32px;
}

@media (max-width: 1250px)  {
    .center-div {
        width: 90%!important;
    }
}

@media (max-width: 1100px)  {
    .center-div {
        width: 95%!important;
    }
}

@media (max-width: 1050px)  {
    .center-div {
        width: 98%!important;
    }
}

@media (max-width: 1000px)  {
    .center-div, .searcher {
        width: 110%!important;
    }
}

@media (max-width: 900px)  {
    .center-div, .searcher {
        width: 120%!important;
    }
}

@media (max-width: 830px)  {
    .center-div, .searcher {
        width: 140%!important;
    }
}

@media (max-width: 715px)  {
    .center-div, .searcher {
        width: 160%!important;
    }
}

@media (max-width: 715px)  {
    .center-div, .searcher {
        width: 160%!important;
    }
}

@media (max-width: 630px)  {
    .center-div, .searcher {
        width: 180%!important;
    }
}

@media (max-width: 570px)  {
    .center-div, .searcher {
        width: 200%!important;
    }
}

@media (max-width: 500px)  {
    .center-div, .searcher {
        width: 220%!important;
    }
}

@media (max-width: 460px)  {
    .center-div, .searcher {
        width: 250%!important;
    }
}

@media (max-width: 400px)  {
    .center-div, .searcher {
        width: 300%!important;
    }
}
